@model IEnumerable<Ogrenci>

<!-- Öğrenci Listesi Başlangıcı -->
<table class="table table-bordered">
    <h2>Öğrenci Listesi</h2>
    <a href="Ogrenci/Create" class="btn btn-primary">Öğrenci Ekle</a>
    <hr>
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.OgrenciId)</th> <!-- Öğrenci ID'si -->
            <th>@Html.DisplayNameFor(m => m.OgrenciAd)</th> <!-- Öğrenci Adı -->
            <th>@Html.DisplayNameFor(m => m.OgrenciSoyad)</th> <!-- Öğrenci Soyadı -->
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.OgrenciId)</td> <!-- Öğrenci ID'si Gösterimi -->
                <td>@Html.DisplayFor(modelItem => item.OgrenciAd)</td> <!-- Öğrenci Adı Gösterimi -->
                <td>@Html.DisplayFor(modelItem => item.OgrenciSoyad)</td> <!-- Öğrenci Soyadı Gösterimi -->
                <td>
                    <a asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-primary">Edit</a> <!-- Düzenle Butonu -->
                    <a asp-controller="Ogrenci" asp-action="Delete" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-danger">Delete</a> <!-- Düzenle Butonu -->
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Öğrenci Listesi Bitişi -->
